{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

    {% include "site_template/navigation.html" %}
      
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(/static/assets/img/theme/profile-cover.png); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
          <div class="row">
          <div class="col-lg-7 col-md-10">
              <h1 class="display-2 text-white">Hello {{ session['name'] }}</h1>
              <p class="text-white mt-0 mb-5">
                  This is your profile page. </p>
              <!-- <a href="{{ url_for('edit_profile', username=session['name']) }}" class="btn btn-info">Edit profile</a> -->
          </div>
          </div>
      </div> 
      </div>
      
    <!-- Page content -->
    <div class="container-fluid mt--7">

        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-3 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                    <a href="#">
                        <img src="/static/assets/img/theme/profile.png" class="rounded-circle">
                    </a>
                    </div>
                </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-8 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                      <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                      <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                    </div>
                  </div>
                  <div class="card-body pt-0 pt-md-0">
                    <div class="row">
                      <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                          <div>
                            <span class="heading">{{ session['username'] }}</span>
                            <span class="description">{{ session['currProfile'] }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <h3>
                        {{ session['name'] }}
                      </h3>
                      <div class="h5 font-weight-300">
                        <i class="ni location_pin mr-2"></i>{{ session['address'] }}
                      </div>
                      <hr class="my-4" />
                      <p>{{ session['about'] }}</p>
                      <a href="{{ session['website'] }}">Website</a>
                    </div>
                  </div>
                </div>
              </div>

            <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                    <center><h3 class="mb-0">My account</h3></center>
                    </div>
                </div>
                </div>
                                     {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}  
                                                      {% if (message.startswith("Thanks")) %}
                                                      <div class="alert alert-success alert-dismissible" role="alert">
                                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          {{message}}
                                                      </div>
                                                      {% else %}
                                                      <div class="alert alert-danger alert-dismissible" role="alert">
                                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          {{message}}
                                                      </div>
                                                      {% endif %}

                                                      {% endfor %} {% endif %} {% endwith %}  
                
                <div class="card-body">
                <form action="{{ url_for('update_pro', uname=session['name'])}}" method="POST">
                    <h6 class="heading-small text-muted mb-4">User ID - {{ session['user_id'] }}</h6>
                    <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Username</label>
                            <input type="email" id="input-username" class="form-control form-control-alternative" 
                                   placeholder="Username" value="{{ session['username'] }}" disabled>
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-first-name">Name</label>
                            <input name="name" type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="Name" value="{{ session['name'] }}">
                        </div>
                        </div>
                        
                        <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-email">Website</label>
                            <input name="website" type="text" id="input-email" class="form-control form-control-alternative" 
                                   placeholder="Website" value="{{ session['website'] }}">
                        </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Social</label>
                                <input name="social" type="text" id="input-email" class="form-control form-control-alternative" 
                                       placeholder="Social" value="{{ session['social'] }}">
                        </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-email">Services</label>
                  <select class="form-control" name="services">
                    <option selected>---- Select Services ----</option>
                    <option value="Food">Food</option>
                    <option value="Medicine">Medicine</option>
                    <option value="Shelter">Shelter</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Medical Equipments">Medical Equipments</option>
                    <option value="Others">Others</option>
                  </select>
                        </div>
                        </div>
                    </div>
                    <div class="row">


                    </div>
                    
                    </div>
                    <hr class="my-4" />
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">Contact Information</h6>
                    <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="input-address">Address</label>
                            <input name="address" id="input-address" class="form-control form-control-alternative" placeholder="Address" value="{{ session['address'] }}" type="text">
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-city">Registration No.</label>
                                <input name="regno" type="text" id="input-city" class="form-control form-control-alternative" placeholder="Registration No." value="{{ session['regno'] }}">
                            </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-city">Branch</label>
                                    <input name="branch" type="text" id="input-city" class="form-control form-control-alternative" placeholder="Branch" value="{{ session['branch'] }}">
                                </div>
                                </div>
                        <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-city">Phone No</label>
                            <input name="phone" type="text" id="input-city" class="form-control form-control-alternative" placeholder="Phone" value="{{ session['phone'] }}">
                        </div>
                        </div>
                        <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-country">Pincode</label>
                            <input name="pin" type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code" value="{{ session['pin'] }}">
                        </div>
                        </div>
                    </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Description -->
                    <h6 class="heading-small text-muted mb-4">About Us</h6>
                    <div class="pl-lg-4">
                    <div class="form-group">
                        <label>About Me</label>
                        <textarea name="about" rows="4" class="form-control form-control-alternative" placeholder="A few words about you ..." >{{ session['about'] }}</textarea>
                    </div>
                  </div>
                        <div class="text-center">
                            <button type="submit" name="update" class="btn btn-primary my-4">Update</button>
                          </div>
                        </form>
                </form>
                </div>
            </div>
            </div>
        </div>
    
        {% include "site_template/footer.html" %}
        
    </div>    

{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
